.formInput {
  input {
    background-color: var(--color-gray);
    color: antiquewhite;
    outline: none;
    border: none;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 10px 1rem;
    width: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // margin: 10px 0;
    // outline: none;
    // background-color: var(--color-gray);
    // border: none;
    // color: var(--color-white);
    // margin: 1rem 0rem;
  }
}
